<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Your Coffee!</title>
    <link rel="stylesheet" href="{%static 'css/main.css' %}">
    <link rel="stylesheet" href="{%static 'css/my.css' %}">
</head>
<body style="background-color: rgba(34, 2, 2, 0.87);">
    {%include 'navbar.html'%}
    <h2>Products</h2>
    <div class="product-list">
         {%for i in product %}
            <div class="col-md-3 mb-3">
              <div class="card">
                <img src="{{i.picture.url}}" class="card-img-top" alt="{{i.name}}">
                 <div class="card-body">
                    <h5 class="card-title">{{ i.name }}</h5>
                    <p class="card-text">{{ i.description }}</p>
                    <p class="card-text">Price: Rs.{{ i.price }}</p>
                    <button><a href="{% url 'addcart:addtocart1' i.id %}">Add Cart</a></button>
                 </div>
              </div>
            </div>
            {%empty%}
            <p>No Products Found</p>
         {%endfor%}
    </div>
    <link rel="stylesheet" href="{%static 'js/main.js' %}">
</body>
</html>